*,body{
    margin: 0;
    padding: 0;
    font-family: Microsoft Microsoft Yahei, Arial;
    font-size: 12px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
#store{
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #aaa;
    background: #444;
    margin-bottom: 25px;
    cursor: default;
}

#menu{
    width: 100%;
    height: 384px;

}
#menu li{
    width: 185px;
    height: 41px;
}

#menu li a{
    width: 135px;
    line-height: 41px;
    font-size: 14px;
    color: #fafafa;
    margin-left: 27.5px;
}
#menu span{
    font-size: 15px;
    margin-left: 24px;
    margin-right: 39px;
}
#menu li:hover{
    background-color: rgb(68,68,68);
    transition: background-color .2s ease;
}
#menu i{
    font-size: 18px;
}

#logo{
    height: 152px;
}
#logo img{
    width: 130px;
    height: 130px;
    display: block;
    padding: 1px;
    background: #fff;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #ccc;
}

.about-us{
    position: fixed;
    width: 185px;
    bottom: 0;
    text-align: center;
    left: 0;
    font-size: 12px;
    color: #aaa;
    padding: 12px 0;
    border-top: 1px solid #3b3b3b;
}
.about-us a{
    color: #fafafa;
}

#win{
    overflow: hidden;
}
#content{
    padding: 16px;
    font-size: 12px;
    line-height: 1.5;
}
#content>p{
    margin-top: 10px;
    margin-bottom: 50px;
}
#content ul{
    list-style: none;
}

#one{
    /*margin: 148px 0;*/
    /*padding: 0;*/
    width: 132px;
    height: 187px;
    display: none;
    position: fixed;
    top: 148px;
    left:186px;
    z-index: 100;
}
.child_menu{
    text-align: center;
    font-size: 16px;
    color: rgb(68,68,68);/*rgb(245,57,88)*/
}
.child_menu li{
    margin: 1px auto;
    height: 38px;
    line-height: 38px;
    background-color: rgb(234,234,234)
}
.child_menu li:hover{
    background-color: rgb(221,221,221);
    transition: background-color .2s ease;
}
.child_menu a{
    color: black;
}
.child_menu a:hover{
    color: rgb(245,57,88);
    transition: color .2s ease;
}

#two{
    /*margin: 188px 0;*/
    /*padding: 0;*/
    width: 132px;
    height: 187px;
    display: none;
    position: fixed;
    top: 188px;
    left: 186px;
    z-index: 100;
}
#three{
    /*margin: 198px 0;*/
    /*padding: 0;*/
    width: 132px;
    height: 74px;
    display: none;
    position: fixed;
    top: 355px;
    left:186px;
    z-index: 100;
}
#four{
    /*margin: 300px 0;*/
    /*padding: 0;*/
    width: 132px;
    height: 150px;
    display: none;
    position: fixed;
    top: 380px;
    left:186px;
    z-index: 100;
}
#five{
    /*margin: 340px 0;*/
    /*padding: 0;*/
    width: 132px;
    height: 150px;
    display: none;
    position: fixed;
    top: 400px;
    left:186px;
    z-index: 100;
}
#six{
    /*margin: 467px 0;*/
    /*padding: 0;*/
    width: 132px;
    height: 75px;
    display: none;
    position: fixed;
    top: 467px;
    left:186px;
    z-index: 100;
}
#seven{
    /*margin: 362px 0;*/
    /*padding: 0;*/
    width: 132px;
    height: 224px;
    display: none;
    position: fixed;
    top: 362px;
    left:186px;
    z-index: 100;
}
#eight{
    /*margin: 312px 0;*/
    /*padding: 0;*/
    width: 132px;
    height: 334px;
    display: none;
    position: fixed;
    top: 312px;
    left:186px;
    z-index: 100;
}

.reds{
    color: red;
}

/*选项卡样式*/
#tabs{
    height: 100%;
}
/*.clk{
    color: rgb(255,65,0);
}*/
