<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.CostinfoMapper">
  <resultMap id="BaseResultMap" type="com.test.pojo.Costinfo">
    <id column="costinfoid" jdbcType="INTEGER" property="costinfoid" />
    <result column="billid" jdbcType="INTEGER" property="billid" />
    <result column="costiteam" jdbcType="INTEGER" property="costiteam" />
    <result column="costplandesc" jdbcType="VARCHAR" property="costplandesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    costinfoid, billid, costiteam, costplandesc
  </sql>
  <select id="selectByExample" parameterType="com.test.pojo.CostinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from costinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from costinfo
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from costinfo
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.pojo.CostinfoExample">
    delete from costinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.pojo.Costinfo">
    insert into costinfo (costinfoid, billid, costiteam, 
      costplandesc)
    values (#{costinfoid,jdbcType=INTEGER}, #{billid,jdbcType=INTEGER}, #{costiteam,jdbcType=INTEGER}, 
      #{costplandesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.pojo.Costinfo">
    insert into costinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="costinfoid != null">
        costinfoid,
      </if>
      <if test="billid != null">
        billid,
      </if>
      <if test="costiteam != null">
        costiteam,
      </if>
      <if test="costplandesc != null">
        costplandesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="costinfoid != null">
        #{costinfoid,jdbcType=INTEGER},
      </if>
      <if test="billid != null">
        #{billid,jdbcType=INTEGER},
      </if>
      <if test="costiteam != null">
        #{costiteam,jdbcType=INTEGER},
      </if>
      <if test="costplandesc != null">
        #{costplandesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update costinfo
    <set>
      <if test="record.costinfoid != null">
        costinfoid = #{record.costinfoid,jdbcType=INTEGER},
      </if>
      <if test="record.billid != null">
        billid = #{record.billid,jdbcType=INTEGER},
      </if>
      <if test="record.costiteam != null">
        costiteam = #{record.costiteam,jdbcType=INTEGER},
      </if>
      <if test="record.costplandesc != null">
        costplandesc = #{record.costplandesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update costinfo
    set costinfoid = #{record.costinfoid,jdbcType=INTEGER},
      billid = #{record.billid,jdbcType=INTEGER},
      costiteam = #{record.costiteam,jdbcType=INTEGER},
      costplandesc = #{record.costplandesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.pojo.Costinfo">
    update costinfo
    <set>
      <if test="billid != null">
        billid = #{billid,jdbcType=INTEGER},
      </if>
      <if test="costiteam != null">
        costiteam = #{costiteam,jdbcType=INTEGER},
      </if>
      <if test="costplandesc != null">
        costplandesc = #{costplandesc,jdbcType=VARCHAR},
      </if>
    </set>
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.pojo.Costinfo">
    update costinfo
    set billid = #{billid,jdbcType=INTEGER},
      costiteam = #{costiteam,jdbcType=INTEGER},
      costplandesc = #{costplandesc,jdbcType=VARCHAR}
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.test.pojo.Costinfo">
    <id column="costinfoid" jdbcType="INTEGER" property="costinfoid" />
    <result column="billid" jdbcType="INTEGER" property="billid" />
    <result column="costiteam" jdbcType="INTEGER" property="costiteam" />
    <result column="costplandesc" jdbcType="VARCHAR" property="costplandesc" />
  </resultMap>
  <sql id="Base_Column_List">
    costinfoid, billid, costiteam, costplandesc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from costinfo
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from costinfo
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.pojo.Costinfo">
    insert into costinfo (costinfoid, billid, costiteam, 
      costplandesc)
    values (#{costinfoid,jdbcType=INTEGER}, #{billid,jdbcType=INTEGER}, #{costiteam,jdbcType=INTEGER}, 
      #{costplandesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.pojo.Costinfo">
    insert into costinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="costinfoid != null">
        costinfoid,
      </if>
      <if test="billid != null">
        billid,
      </if>
      <if test="costiteam != null">
        costiteam,
      </if>
      <if test="costplandesc != null">
        costplandesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="costinfoid != null">
        #{costinfoid,jdbcType=INTEGER},
      </if>
      <if test="billid != null">
        #{billid,jdbcType=INTEGER},
      </if>
      <if test="costiteam != null">
        #{costiteam,jdbcType=INTEGER},
      </if>
      <if test="costplandesc != null">
        #{costplandesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.pojo.Costinfo">
    update costinfo
    <set>
      <if test="billid != null">
        billid = #{billid,jdbcType=INTEGER},
      </if>
      <if test="costiteam != null">
        costiteam = #{costiteam,jdbcType=INTEGER},
      </if>
      <if test="costplandesc != null">
        costplandesc = #{costplandesc,jdbcType=VARCHAR},
      </if>
    </set>
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.pojo.Costinfo">
    update costinfo
    set billid = #{billid,jdbcType=INTEGER},
      costiteam = #{costiteam,jdbcType=INTEGER},
      costplandesc = #{costplandesc,jdbcType=VARCHAR}
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.test.pojo.Costinfo">
    <id column="costinfoid" jdbcType="INTEGER" property="costinfoid" />
    <result column="billid" jdbcType="INTEGER" property="billid" />
    <result column="costiteam" jdbcType="INTEGER" property="costiteam" />
    <result column="costplandesc" jdbcType="VARCHAR" property="costplandesc" />
  </resultMap>
  <sql id="Base_Column_List">
    costinfoid, billid, costiteam, costplandesc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from costinfo
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from costinfo
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.pojo.Costinfo">
    insert into costinfo (costinfoid, billid, costiteam, 
      costplandesc)
    values (#{costinfoid,jdbcType=INTEGER}, #{billid,jdbcType=INTEGER}, #{costiteam,jdbcType=INTEGER}, 
      #{costplandesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.pojo.Costinfo">
    insert into costinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="costinfoid != null">
        costinfoid,
      </if>
      <if test="billid != null">
        billid,
      </if>
      <if test="costiteam != null">
        costiteam,
      </if>
      <if test="costplandesc != null">
        costplandesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="costinfoid != null">
        #{costinfoid,jdbcType=INTEGER},
      </if>
      <if test="billid != null">
        #{billid,jdbcType=INTEGER},
      </if>
      <if test="costiteam != null">
        #{costiteam,jdbcType=INTEGER},
      </if>
      <if test="costplandesc != null">
        #{costplandesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.pojo.Costinfo">
    update costinfo
    <set>
      <if test="billid != null">
        billid = #{billid,jdbcType=INTEGER},
      </if>
      <if test="costiteam != null">
        costiteam = #{costiteam,jdbcType=INTEGER},
      </if>
      <if test="costplandesc != null">
        costplandesc = #{costplandesc,jdbcType=VARCHAR},
      </if>
    </set>
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.pojo.Costinfo">
    update costinfo
    set billid = #{billid,jdbcType=INTEGER},
      costiteam = #{costiteam,jdbcType=INTEGER},
      costplandesc = #{costplandesc,jdbcType=VARCHAR}
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.test.pojo.Costinfo">
    <id column="costinfoid" jdbcType="INTEGER" property="costinfoid" />
    <result column="billid" jdbcType="INTEGER" property="billid" />
    <result column="costiteam" jdbcType="INTEGER" property="costiteam" />
    <result column="costplandesc" jdbcType="VARCHAR" property="costplandesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    costinfoid, billid, costiteam, costplandesc
  </sql>
  <select id="selectByExample" parameterType="com.test.pojo.CostinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from costinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from costinfo
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from costinfo
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.pojo.CostinfoExample">
    delete from costinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.pojo.Costinfo">
    insert into costinfo (costinfoid, billid, costiteam, 
      costplandesc)
    values (#{costinfoid,jdbcType=INTEGER}, #{billid,jdbcType=INTEGER}, #{costiteam,jdbcType=INTEGER}, 
      #{costplandesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.pojo.Costinfo">
    insert into costinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="costinfoid != null">
        costinfoid,
      </if>
      <if test="billid != null">
        billid,
      </if>
      <if test="costiteam != null">
        costiteam,
      </if>
      <if test="costplandesc != null">
        costplandesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="costinfoid != null">
        #{costinfoid,jdbcType=INTEGER},
      </if>
      <if test="billid != null">
        #{billid,jdbcType=INTEGER},
      </if>
      <if test="costiteam != null">
        #{costiteam,jdbcType=INTEGER},
      </if>
      <if test="costplandesc != null">
        #{costplandesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.test.pojo.CostinfoExample" resultType="java.lang.Integer">
    select count(*) from costinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update costinfo
    <set>
      <if test="record.costinfoid != null">
        costinfoid = #{record.costinfoid,jdbcType=INTEGER},
      </if>
      <if test="record.billid != null">
        billid = #{record.billid,jdbcType=INTEGER},
      </if>
      <if test="record.costiteam != null">
        costiteam = #{record.costiteam,jdbcType=INTEGER},
      </if>
      <if test="record.costplandesc != null">
        costplandesc = #{record.costplandesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update costinfo
    set costinfoid = #{record.costinfoid,jdbcType=INTEGER},
      billid = #{record.billid,jdbcType=INTEGER},
      costiteam = #{record.costiteam,jdbcType=INTEGER},
      costplandesc = #{record.costplandesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.pojo.Costinfo">
    update costinfo
    <set>
      <if test="billid != null">
        billid = #{billid,jdbcType=INTEGER},
      </if>
      <if test="costiteam != null">
        costiteam = #{costiteam,jdbcType=INTEGER},
      </if>
      <if test="costplandesc != null">
        costplandesc = #{costplandesc,jdbcType=VARCHAR},
      </if>
    </set>
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.pojo.Costinfo">
    update costinfo
    set billid = #{billid,jdbcType=INTEGER},
      costiteam = #{costiteam,jdbcType=INTEGER},
      costplandesc = #{costplandesc,jdbcType=VARCHAR}
    where costinfoid = #{costinfoid,jdbcType=INTEGER}
  </update>
</mapper>