<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.MemberTypeMapper" >
  <resultMap id="BaseResultMap" type="com.test.pojo.MemberType" >
    <id column="membertype_id" property="membertypeId" jdbcType="INTEGER" />
    <result column="membertype_name" property="membertypeName" jdbcType="VARCHAR" />
    <result column="membertype_cost" property="membertypeCost" jdbcType="DOUBLE" />
    <result column="month_time" property="monthTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    membertype_id, membertype_name, membertype_cost, month_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.test.pojo.MemberTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from member_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_type
    where membertype_id = #{membertypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_type
    where membertype_id = #{membertypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.pojo.MemberTypeExample" >
    delete from member_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.pojo.MemberType" >
    insert into member_type (membertype_id, membertype_name, membertype_cost, 
      month_time)
    values (#{membertypeId,jdbcType=INTEGER}, #{membertypeName,jdbcType=VARCHAR}, #{membertypeCost,jdbcType=DOUBLE}, 
      #{monthTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.test.pojo.MemberType" >
    insert into member_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="membertypeId != null" >
        membertype_id,
      </if>
      <if test="membertypeName != null" >
        membertype_name,
      </if>
      <if test="membertypeCost != null" >
        membertype_cost,
      </if>
      <if test="monthTime != null" >
        month_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="membertypeId != null" >
        #{membertypeId,jdbcType=INTEGER},
      </if>
      <if test="membertypeName != null" >
        #{membertypeName,jdbcType=VARCHAR},
      </if>
      <if test="membertypeCost != null" >
        #{membertypeCost,jdbcType=DOUBLE},
      </if>
      <if test="monthTime != null" >
        #{monthTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update member_type
    <set >
      <if test="record.membertypeId != null" >
        membertype_id = #{record.membertypeId,jdbcType=INTEGER},
      </if>
      <if test="record.membertypeName != null" >
        membertype_name = #{record.membertypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.membertypeCost != null" >
        membertype_cost = #{record.membertypeCost,jdbcType=DOUBLE},
      </if>
      <if test="record.monthTime != null" >
        month_time = #{record.monthTime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update member_type
    set membertype_id = #{record.membertypeId,jdbcType=INTEGER},
      membertype_name = #{record.membertypeName,jdbcType=VARCHAR},
      membertype_cost = #{record.membertypeCost,jdbcType=DOUBLE},
      month_time = #{record.monthTime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.pojo.MemberType" >
    update member_type
    <set >
      <if test="membertypeName != null" >
        membertype_name = #{membertypeName,jdbcType=VARCHAR},
      </if>
      <if test="membertypeCost != null" >
        membertype_cost = #{membertypeCost,jdbcType=DOUBLE},
      </if>
      <if test="monthTime != null" >
        month_time = #{monthTime,jdbcType=INTEGER},
      </if>
    </set>
    where membertype_id = #{membertypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.pojo.MemberType" >
    update member_type
    set membertype_name = #{membertypeName,jdbcType=VARCHAR},
      membertype_cost = #{membertypeCost,jdbcType=DOUBLE},
      month_time = #{monthTime,jdbcType=INTEGER}
    where membertype_id = #{membertypeId,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.test.pojo.MemberTypeExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from member_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>